@font-face {
    font-family: 'h2font';
    src: url('./Fonts/RobotoSlab-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'pfont';
    src: url('./Fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'qfont';
    src: url('./Fonts/PlayfairDisplay-Italic.woff') format('woff');
}

@keyframes gradientFlow {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #EDEDED;
    transform: scale(1);
    transition: transform 0.3s ease;
}

a:hover {
    color: #B0B0B0;
    transform: scale(1.05);
}

#upButton {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #B0B0B0;
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #181818;
    z-index: 9999;
}

#downButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #B0B0B0;
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #181818;
    z-index: 9999;
}

#personal-web {
    display: flex;
    flex-direction: column;
    background-color: #181818;
}

#navbar {
    display: flex;
    justify-content: space-between;
    width: auto;
    background: linear-gradient(45deg, #2C2C2C, #181818);
    margin: 0;
    align-items: center;
    font-family: 'h2font';
    font-size: large;
    padding: 5px 40px;
    height: 10vh;
}

.title {
        background: linear-gradient(270deg, #181818, #2C2C2C, #B0B0B0, #EDEDED);
        background-size: 800% 800%;
        animation: gradientFlow 4s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a{
    color: #EDEDED;
}
.nav-links a:hover {
    color: #B0B0B0;
}

#profile {
    background: linear-gradient(225deg, #2C2C2C, #181818);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100vh;
}

.profile-image {
    margin: 100px;
}

.profile-image img{
    height: 680px;
    width: 400px;
    object-fit: cover;
}

.profile-picture {
    transform: translate(-30%) scale(1);
    transition: transform 0.3s ease;
}

.profile-picture:hover {
    transform: translate(-30%) scale(1.05);
}

.profile-text {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    color: #B0B0B0;
    font-size: x-large;
}

.desc-text {
    background-color: #2C2C2C;
    padding: 5px 20px 30px 20px;
    border-radius: 20px;
}

.contact-me {
    display: inline-block;
    background-color:#1E1E1E;
    padding: 15px;
    border: 2px solid #B0B0B0;
    border-radius: 50px;
    transform: scale(1) translate(0, -10px);
    transition: transform 0.3s ease;
}

.contact-me:hover {
    transform: scale(1.03) translate(0, -10px);
}

.profile-text h2{
    color: #EDEDED;
    font-family: roboto-slab;
    font-family: 'h2font';
}

.profile-text q{
    font-size: smaller;
    font-family: 'qfont';
}

#track-record {
    background-color: #2C2C2C;
    box-shadow: 0 0 20px #5f5f5f;
}

#track-record h2{
    text-align: center;
    color: #EDEDED;
    font-family: 'h2font';
}

#track-record h3{
    color: #EDEDED;
    font-family: 'h2font';
}

#track-record p{
    transform: translate(0, -25px);
    color: #B0B0B0;
    font-family: 'pfont';
}

#track-record li{
    font-size: larger;
    transform: scale(1);
    transition: transform 0.1s ease;
    font-family: 'pfont';
    list-style: none;
}

#track-record li:hover {
    transform: scale(1.01);
    cursor: default;
}

#projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #B0B0B0;
    font-family: 'pfont';
    background: linear-gradient(180deg, #1E1E1E, #2C2C2C);
    height: 100vh;
}

#projects h2{
    color: #EDEDED;
    font-family: 'h2font';
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.each-project {
    margin: 50px;
    transform: scale(1);
    transition: transform 0.2s ease;
    background-color: #181818;
    padding: 50px 20px 30px 20px;
    border-radius: 20px;
    width: 30%;
}

.each-project img {
    border-radius: 15px;
}

.each-project:hover {
    transform: scale(1.08);
    cursor: pointer;
    box-shadow: 0 0 15px #B0B0B0;
}

#languages {
    display: flex;
    background-color: #181818;
    flex-direction: column;
    text-align: center;
    color: #B0B0B0;
    font-family: 'pfont';
    box-shadow: 0 0 10px #2C2C2C;
    
}

#languages h2{
    color: #EDEDED;
    font-family: 'h2font';
}

.proglangs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.proglang {
    margin: 15px;
    margin-left: 20px;
    margin-right: 20px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.proglang:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px #B0B0B0;
}

.proglang img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

#footer {
    display: flex;
    flex-direction: row;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2C2C2C;
    height: 120px;
    color: #EDEDED;
    margin-top: 50px;
    align-items: center;
    padding: 10px 30px;
    font-size: large;

}

#footer input {
    border-radius: 5px;
    font-family: 'pfont';
}

#footer button {
    border-radius: 5px;
    font-family: 'pfont';
    border: none;
    background-color: #B0B0B0;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.contact-link {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 30px);
}

.more {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    height: 50px;
    margin: 0;
    color: #EDEDED;
    font-family: 'h2font';
}
