@font-face {
    font-family: 'h2font';
    src: url('./Fonts/RobotoSlab-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'pfont';
    src: url('./Fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'qfont';
    src: url('./Fonts/PlayfairDisplay-Italic.woff') format('woff');
}

@keyframes gradientFlow {
    0%{background-position: 0% 100%;}
    100%{background-position: -200% 50%;}
}

@keyframes flow {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes leftAppear {
    from {
        opacity: 0.5;
        translate: -100%;
    }
    to {
        opacity: 1;
        translate: 0;
    }
}

.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 cover 25%;
}